<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.csgroupg.bilvend">
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".loginPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".registerPage" />
        <activity
            android:name=".mainPage"
            android:label="@string/BilVend"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".adPage"
            android:label="@string/title_activity_ad_page"
            android:theme="@style/AppTheme" />
        <activity android:name=".inboxPage" />
        <activity android:name=".ChatPage" />
        <activity
            android:name=".adPublishingPage"
            android:label="New Advertisement"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>